<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Doopec.Dds" type="Doopec.Dds.Config.DdsConfigurationSectionHandler, Doopec" />
    <section name="Doopec.Rtps" type="Doopec.Rtps.Config.RtpsConfigurationSectionHandler, Doopec" />
  </configSections>
  
  <Doopec.Dds>
    <!--<add key="TransportEngine" value="Doopec.Rtps.SharedMem.FakeEngine, Doopec" />-->
    <add key="TransportEngine" value="Doopec.Rtps.RtpsTransport.RtpsEngine, Doopec" />
    <add key="DefaultDomainId" value="411" />
    
    <add key="DefaultDomainQoS" value="defaultDomain" />
    <add key="DefaultTopicQoS" value="defaultTopic" />
    <add key="DefaultDataWriterQoS" value="defaultDataWriter" />
    <add key="DefaultDataReaderQoS" value="defaultDataReader" />

    <Doopec.Dds.QoS.Domain name="defaultDomain">
      <!-- Default user data is not set -->
      <add key="userData" value=""/>
      <!-- Default autoenable created entities is true -->
      <add key="autoEnableCreatedEntities" value="true"/>
    </Doopec.Dds.QoS.Domain>

    <Doopec.Dds.QoS.Topic name="defaultTopic">
       <!--Default user data is not set--> 
      <add key="topicData" value=""/>
      <add key="durability" value="VOLATILE, 0"/>
      <add key="realibility" value="BEST_EFFORT, Infinity"/>
    </Doopec.Dds.QoS.Topic>

    <Doopec.Dds.QoS.DataWriter name="defaultDataWriter">
      <add key="durability" value="VOLATILE, 0"/>
      <add key="realibility" value="RELIABLE, 100"/>
    </Doopec.Dds.QoS.DataWriter>

    <Doopec.Dds.QoS.DataReader name="defaultDataReader">
      <add key="durability" value="VOLATILE, 0"/>
      <add key="realibility" value="RELIABLE, 100"/>
    </Doopec.Dds.QoS.DataReader>
  </Doopec.Dds>
  
  <Doopec.Rtps>
    <Doopec.Rtps.SPDP>
      <!-- A comma separated list of URIs, that will be used to start listeners for discovery. -->
      <add key="unicastLocatorList" value="udp://localhost" />
      <add key="multicastLocatorList" value="udp://239.255.0.1" />
      <!--SPDP writers periodical announcement rate, in milliseconds-->
      <add key="resendDataPeriod" value="3000" />
      <!--The SPDP built-in Endpoints are configured using well-known ports (see Section 8.5.3.4)-->
      <WellKnownPorts portBase="7400" domainIdGain="250" participantIdGain="2" offsetd0="0" offsetd1="10" offsetd2="1" offsetd3="11" />
    </Doopec.Rtps.SPDP>
    <Doopec.Rtps.Writer>
      <add key="pushMode" value="True" />
      <add key="heartbeatPeriod" value="5000" />
      <add key="nackResponseDelay" value="200" />
      <add key="nackSuppressionDuration" value="0" />
    </Doopec.Rtps.Writer>
    <Doopec.Rtps.Reader>
      <add key="heartbeatResponseDelay" value="100" />
      <add key="heartbeatSuppressionDuration" value="0" />
    </Doopec.Rtps.Reader>
  </Doopec.Rtps>
  <appSettings>
    <add key="org.omg.dds.serviceClassName" value="Doopec.Dds.Core.BootstrapImpl, Doopec" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>