<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RTPS" type="RTPS.Utils.RTPSConfigSection, RTPS" />
  </configSections>

  <RTPS
      traffic.port-config = "PB=7400, DG=250, PG=2, d0=0, d1=10, d2=1, d3=11"

      writer.push-mode = "true"
      writer.heartbeat-period = "5000"
      writer.nack-response-delay = "200"
      writer.nack-suppression-duration = "0"

      reader.heartbeat-response-delay = "500"
      reader.heartbeat-suppression-duration = "0"

      spdp.resend-data-period = "30000"
      thread-pool.core-size = "10"

      message-queue.size = "10"
      buffer-size = "16384"
      publish-builtin-data = "false"

      prefer-multicast = "true"

      listener-uris="udp://239.255.0.1,udp://localhost"
      discovery.listener-uris="udp://239.255.0.1,udp://localhost"

  />


</configuration>