<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Doopec.Rtps.Config.Writer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Doopec.Doopec" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Doopec.Properties.Rtps" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Doopec.Rtps.Config.Rtps" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Doopec.Rtps.Config.Writer>
            <setting name="PushMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeartbeatPeriod" serializeAs="String">
                <value>5001</value>
            </setting>
            <setting name="NackResponseDelay" serializeAs="String">
                <value>201</value>
            </setting>
            <setting name="NackSuppressionDuration" serializeAs="String">
                <value>0</value>
            </setting>
        </Doopec.Rtps.Config.Writer>
        <Doopec.Doopec>
            <setting name="RTPSEngineType" serializeAs="String">
                <value>Doopec.Rtps.SharedMem.SharedMemoryEngine, Doopec</value>
            </setting>
            <setting name="ListenerUris" serializeAs="String">
                <value>mem://sharedmemory</value>
            </setting>
        </Doopec.Doopec>
    </userSettings>
    <applicationSettings>
        <Doopec.Properties.Rtps>
            <setting name="PortConfig" serializeAs="String">
                <value>PB=7400, DG=250, PG=2, d0=0, d1=10, d2=1, d3=11</value>
            </setting>
        </Doopec.Properties.Rtps>
        <Doopec.Rtps.Config.Rtps>
            <setting name="PortConfig" serializeAs="String">
                <value>PB=7400, DG=250, PG=2, d0=0, d1=10, d2=1, d3=11</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Doopec.Rtps.Config.Rtps>
    </applicationSettings>
</configuration>