<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DDS" type="Doopec.Configuration.DDSConfigurationSection, Doopec, Version=0.1.*, Culture=neutral, PublicKeyToken=null"/>
    <section name="RTPS" type="Doopec.Configuration.RTPSConfigurationSection, Doopec, Version=0.1.*, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <DDS xmlns="urn:Configuration" vendor="Doopec" version="2.1">
    <!--
		This is just a minimal sample configuration file that shows how to declare
		the configuration sections.

		Because an XML Schema Definition (XSD) is generated for each configuration
		section, it should be trivial to edit these files because you have
		IntelliSense on the XML definition.
		-->
    <boostrapType name="default" type="Doopec.Dds.Core.BootstrapImpl, Doopec"/>
    <domains>
      <domain name="Main" id="0">
        <transportProfile name="defaultRtps"/>
        <qoSProfile name="defaultQoS"/>
        <guid kind="Fixed" val="7F294ABE-33F2-40B9-BFF5-7D9376EA061C"/>
      </domain>
    </domains>
    <logLevel levelMin="DEBUG" levelMax="FATAL"/>
    <qoSProfiles>
      <qoSProfileDef name="defaultQoS">
        
        <domainParticipantFactoryQos name="defaultDomainParticipantFactoryQoS">
          <entityFactory autoenableCreatedEntities="true"/>
        </domainParticipantFactoryQos>

        <domainParticipantQos name="defaultDomainParticipantQoS">
          <entityFactory autoenableCreatedEntities="true"/>
          <userData  value=""/>
        </domainParticipantQos>
 
        <topicQoS name="defaultTopicQoS">
          <topicData value=""/>
          <deadline  period="100"/>
          <durability  kind="VOLATILE"/>
        </topicQoS>

        <publisherQoS name="defaultPublisherQoS">
          <entityFactory autoenableCreatedEntities="true"/>
          <groupData value=""/>
          <partition value=""/>
          <presentation accessScope="INSTANCE" coherentAccess="true" orderedAccess="true"/>
        </publisherQoS>

        <subscriberQoS name="defaultSubscriberQoS">
          <entityFactory autoenableCreatedEntities="true"/>
          <groupData value=""/>
          <partition value=""/>
          <presentation accessScope="INSTANCE" coherentAccess="true" orderedAccess="true"/>
        </subscriberQoS>

        <dataWriterQoS name="defaultDataWriterQoS">
          <deadline period="1"/>
          <destinationOrder  kind="BY_SOURCE_TIMESTAMP"/>
          <durability  kind="VOLATILE"/>
          <durabilityService historyDepth="0" historyKind="KEEP_LAST" maxInstances="1" maxSamples="1" maxSamplesPerInstance="1" serviceCleanupDelay="100"/>
          <history kind="KEEP_LAST" depth="1"/>
          <latencyBudget duration="100"/>
          <lifespan duration="100"/>
          <liveliness kind="AUTOMATIC" leaseDuration="100"/>
          <ownership kind="SHARED"/>
          <ownershipStrength value="100"/>
          <reliability kind="BEST_EFFORT" maxBlockingTime="1000"/>
          <resourceLimits maxInstances="1" maxSamples="1" maxSamplesPerInstance="1"/>
          <transportPriority value="1"/>
          <userData value=""/>
          <writerDataLifecycle autodisposeUnregisteredInstances="true"/>
        </dataWriterQoS>

        <dataReaderQoS name="defaultDataReaderQoS">
          <deadline period="1"/>
          <destinationOrder  kind="BY_SOURCE_TIMESTAMP"/>
          <durability  kind="VOLATILE"/>
          <history kind="KEEP_LAST" depth="1"/>
          <latencyBudget duration="100"/>
          <liveliness kind="AUTOMATIC" leaseDuration="100"/>
          <ownership kind="SHARED"/>
          <reliability kind="BEST_EFFORT" maxBlockingTime="1000"/>
          <resourceLimits maxInstances="1" maxSamples="1" maxSamplesPerInstance="1"/>
          <readerDataLifecycle autopurgeDisposedSamplesDelay="1000" autopurgeNowriterSamplesDelay="1000"/>
          <timeBasedFilter minimumSeparation="1000"/>
          <userData value=""/>
        </dataReaderQoS>
        
      </qoSProfileDef>
    </qoSProfiles>
  </DDS>
  <RTPS xmlns="urn:Configuration">
    <!--
		This is just a minimal sample configuration file that shows how to declare
		the configuration sections.

		Because an XML Schema Definition (XSD) is generated for each configuration
		section, it should be trivial to edit these files because you have
		IntelliSense on the XML definition.
		-->
    <transports>
      <transport name="defaultRtps" type="Doopec.Rtps.RtpsTransport.RtpsEngine, Doopec">
        <ttl val="1"/>
        <discovery name="defaultDiscovery">
          <resendPeriod val="30000"/>
          <useSedpMulticast val="true"/>
          <portBase val="7400"/>
          <domainGain val="250"/>
          <participantGain val="2"/>
          <offsetMetatrafficMulticast val="0"/>
          <offsetMetatrafficUnicast val="10"/>
          <metatrafficUnicastLocatorList val="localhost"/>
          <metatrafficMulticastLocatorList val="239.255.0.1"/>
        </discovery>
        <rtpsWriter>
          <heartbeatPeriod val="1000"/>
          <nackResponseDelay val="200"/>
          <nackSuppressionDuration val="0"/>
          <pushMode val="true"/>
        </rtpsWriter>
        <rtpsReader>
          <heartbeatResponseDelay val="500"/>
          <heartbeatSuppressionDuration val="0"/>
        </rtpsReader>
      </transport>
    </transports>
  </RTPS>
  <appSettings>
    <add key="org.omg.dds.serviceClassName" value="Doopec.Dds.Core.BootstrapImpl, Doopec" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>